<configuration>
    <appender name="STDOUT2" class="ch.qos.logback.core.ConsoleAppender">
         <encoder>
             <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
         </encoder>
     </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>yyyy-MM-dd HH:mm:ss.SSS</timestampFormat>
                <includeContextName>false</includeContextName>
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>false</prettyPrint>
                </jsonFormatter>
            </layout>
        </encoder>
    </appender>

    <root level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger level="debug" name="org.hibernate.cache" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger level="debug" name="org.ehcache" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>


