<configuration>
    <appender name="STDOUT2" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timestampPattern>yyyy-MM-dd HH:mm:ss.SSS</timestampPattern>
            <fieldNames>
                <timestamp>ts</timestamp>
                <level>level</level>
                <levelValue>[ignore]</levelValue>
                <message>msg</message>
                <logger>logger</logger>
                <thread>th</thread>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>

    <root level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger level="debug" name="org.hibernate.cache" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger level="debug" name="org.ehcache" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>


